/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background: linear-gradient(to top, #abf9ff, #0b08b3);
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add a margin between the header and navigation */
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  /* Main content styles */
  main {
    background-color: #abf9ff;
    padding: 20px;
    height: 100vh;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 0;
  }

  a.project-link {
    text-decoration: none;
    color: #333;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
